<% const links = get_config_from_obj(widget, 'links'); %>
<% if (links !== null) { %>
<div class="card widget">
    <div class="card-content">
        <div class="menu">
        <h3 class="menu-label">
            <%= __('widget.links') %>
        </h3>
        <ul class="menu-list">
        <% for (let i in links) { %>
            <li>
                <a class="level is-mobile" href="<%- links[i] %>" target="_blank">
                    <span class="level-left">
                        <span class="level-item"><%= i %></span>
                    </span>
                    <span class="level-right">
                        <span class="level-item tag"><%- get_domain(links[i]) %></span>
                    </span>
                </a>
            </li>
        <% } %>
        </ul>
        </div>
    </div>
</div>
<% } %>

<!-- 标签球 -->

<div class="card widget">
    <div class="card-content">
		<script type="text/javascript" charset="utf-8" src="<%- url_for('/js/tagcloud.js') %>"></script>
		<script type="text/javascript" charset="utf-8" src="<%- url_for('/js/tagcanvas.js') %>"></script>
		<div class="widget-wrap">
			<h3 class="menu-label">
                <%= _p('标签球', Infinity) %>
            </h3>
			<div id="myCanvasContainer" class="widget tagcloud">
				<canvas width="230" height="250" id="resCanvas" style="width=100%">
					<%- tagcloud() %>
				</canvas>
			</div>
		</div>
	</div>
</div>